   <nav class="navbar-custom navbar-fixed-top" style="background-color:#000">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index'%}" ><i class="fa fa-angle-double-right"></i>Xplosion</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout'%}">Log out</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a>hello, {{ user.username }}</a></li>
          </ul>

        </div>
      </div>
    </nav>