{% extends 'profile/header.html' %}
{% block content %}
  <body style="background-color:#000">

    {% include 'profile/Navbar.html' %}

    <div class="container-fluid">
      <div class="row">
       {% include 'profile/Sidebar.html' %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" style="color:#fff; font-size:5em">{{ pname.first_name }} Stats</h1>


          <div class="table-responsive">
            <table class="table table-striped" style="color:#E75926">
              <thead>
                <tr>

                  <th>Speed</th>
                  <th>change in rotation</th>
                  <th>change in postion x</th>
                  <th>change in postion y</th>
                  <th>change in postion z</th>

                </tr>
              </thead>
              <tbody>
              {% for player in player%}
                  {% load mathfilters %}
                <tr>
                  <td style="color: white;"><a>{{ player.speed }}</a></td>
                  <td><a>{{ player.start_rot|sub:player.end_rot }}</a></td>
                  <td><a>{{ player.start_pos_x|sub:player.end_pos_x}}</a></td>
                  <td><a>{{ player.start_pos_y|sub:player.end_pos_y}}</a></td>
                  <td><a>{{ player.start_pos_z|sub:player.end_pos_z}}</a></td>


                </tr>
              {% endfor %}


              </tbody>
            </table>

          </div>



          </div>
        </div>
      </div>
    


  </body>
{% endblock %}
