{% extends 'profile/header.html' %}
{% block content %}

  <body style="background-color:#000">

    {% include 'registration/Navbar_registration.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

   <div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <hr>
        <h4 style="color: #ffffff">Failure! the activation key: {{ activation_key }} did not work</h4>

    </div>

    <div class="col-md-8 col-md-offset-1">

    </div>
  </div>
</div>


          </div>
        </div>
      </div>

  </body>
{% endblock %}
