{% extends "profile/header.html" %}
{% block content %}


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!--<div id="preloader">
    {% load static %}
  <div id="status"> <img src={% static 'img/preloader.gif'%}; height="64" width="64" alt=""> </div>
</div>-->
<!-- Navigation -->
{% include 'registration/Navbar_registration.html' %}


<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Password|<span style="color:#E75926;">Reset</span></h2>
      <hr>
    </div>
      {% if validlink %}
          {% include 'profile/form.html' %}

      {% else %}

          <h2>Password reset failed!</h2>
          <h2>Go to forgot password to get another link</h2>

      {% endif %}

    </div>

  </div>
<div id="contact" class="text-center">
    <p>If any questions may arise feel free to contact us at any time</p>
      <div class="social">
        <h3>Follow us</h3>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>

</div>


<div id="footer">
  <div class="container">
    <p>Copyright &copy; Xplosion</p>
    <p>Xplosiondev@gmail.com</p>
  </div>
</div>


</body>
{% endblock %}